body {
    background-color: white;
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    justify-items: center;
    line-height: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    margin: 0px;
}

h1 {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

h1 > .place {
    color: tomato;
    font-family: 'Kenia', sans-serif;
    font-size: 192px;
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p {
    margin-bottom: 30px;
}

div {
    margin-bottom: 50px;
}

@keyframes slideRight {
    from{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

@keyframes slideLeft {
    from{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
}

.bars span {
    display: inline-block;
    width: 100%;
    min-height: 16.7vh;
    padding: 0px;
    margin: 0px;
}

.bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    z-index: 2;
}

#red {
    background: rgb(234,62,56);
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100px;
}
#orange {
    background: rgb(241,97,34);
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#yellow {
    background: rgb(253,193,66);
    width: 100%;
    padding: 0px;
}
#green {
    background: rgb(59,175,110);
    width: 100%;
    padding: 0px;
}
#blue {
    background: rgb(0,157,202);
    width: 100%;
    padding: 0px;
}
#purple {
    background: rgb(27,40,106);
    width: 100%;
    padding: 0px;
}

.right {
    animation: 1s ease-out 0.5s 1 slideRight forwards;
    -webkit-animation: 1s ease-out 0.5s 1 slideRight forwards;
}

.left {
    animation: 1s ease-out 0.5s 1 slideLeft forwards;
    -webkit-animation: 1s ease-out 0.5s 1 slideLeft forwards;
}