body {
    text-align: left;
    font-family: 'Cantarell';
    color: white;
}

p {
    line-height:30px;
}

h1 {
    text-align: left;
    color: white;
    font-family: 'Fjalla One';
    font-size: 4vh;
}